body{
  color: white;
  background:  url('../images/an.jpg') ;
}

.rectangle{
  height: 420px;
  width: 300px;
  border: 2px solid white;
  box-shadow: 0 10px 10px black;
  /* background: orange; */
  text-align: center;
  margin:100px auto;

}

.counter{
  padding-top: 20px;
}

.display{
  /* text-align: center; */
  height: 120px;
  width: 100px;
  /* border: 5px solid; */
  border-color: black;
  /* background: orange; */
  margin: 38% auto 3%;
  /* margin:51% 31% 3%; */
}

.display-number{
  font-size: 6rem;
  color: green;
}
.btn{
  padding: 5px;
  margin: 10px;
  background-color: #0d2c54;
  align-items: center;
  color: #fff;
  border: 3px solid #0d2c54;
  box-shadow: 0 8px 8px black;
  /* box-shadow:0 2px; */

}

.btn:active{
  background-color: blue;
  box-shadow: 0 3px;
  transform: translateY();
}

.btn:hover{
  background-color: grey;
}

.github{
  float: right;
  text-decoration: none;
  color: black;
}
.github:hover{
  color: white;
}
